<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"" />
  <script src=" https://unpkg.com/htmx.org@1.9.10">
  </script>
  <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    main#main_content {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>
  <div class="flex flex-col h-[100dvh] overflow-hidden">
    {% include "components/navigation.html" %}
    <main id="main_content" class="flex-grow overflow-scroll">
      {% block content %}
      {% endblock %}
    </main>
    {% include "components/footer.html" %}
  </div>
</body>

</html>
