<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
</head>

<body>
  <h1>Working</h1>
  <div hx-get="/cookie" hx-trigger="load, click" hx-swap="innerHTML"></div>
  <div id="increment" hx-get="/increment" hx-on--before-request="console.log(this, event)"
    hx-on--after-request="console.log(this, event)" hx-target="#increment" hx-trigger="load, click"></div>
  <div hx-ext="ws" ws-connect="/ws/">
    <div id="chat_room"></div>
    <form id="form" ws-send>
      <label>
        <input id="typed_message" name="chat_message" type="text" placeholder="Type your message..." autofocus
          autocomplete="chat_message" required minlength="5" maxlength="20" />
      </label>
      <button type="submit">submit</button>
    </form>
  </div>
  <div hx-ext="sse" sse-connect="/events" sse-swap="message" hx-target="#event" hx-swap="beforeend">
    <div id="event"></div>
  </div>
</body>

</html>
