{% block content %}
<nav class="bg-gray-800 text-white p-1">
  <ul class="flex space-x-4">
    <li>
      <a href="/"
        class="block hover:bg-gray-700 {% if navigation.current_page == 'home' %} bg-red-500 {% endif %} rounded-md p-2">Home</a>
    </li>
    <li>
      <a href="/about"
        class="block hover:bg-gray-700 {% if navigation.current_page == 'about' %}bg-red-500{% endif %} rounded-md p-2">About</a>
    </li>
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="#end_of_content" class="block">Anchor</a>
    </li>
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="/logout" class="block">Logout</a>
    </li>
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="/profile" class="block">Profile</a>
    </li>
  </ul>
</nav>
{% endblock %}
