<nav class="bg-gray-800 text-white p-1">
  <ul class="flex space-x-4">
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="/" class="block">Home</a>
    </li>
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="/login" class="block">Login</a>
    </li>
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="#end_of_content" class="block">Anchor</a>
    </li>
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="/logout" class="block">Logout</a>
    </li>
    <li class="hover:bg-gray-700 rounded-md p-2">
      <a href="/profile" class="block">Profile</a>
    </li>
  </ul>
</nav>
